<h1>Courses U can Learn!</h1>
<div>
  <div class="d-flex flex-row-reverse">
    <%= paginate @courses %>
  </div>
  <% @courses.each do |course| %>
  <div>
    <%= link_to course.course_title, course %>
  </div>
  <% end %>
  <br/>
  <div class="d-flex flex-row-reverse">
    <%= paginate @courses %>
  </div>
</div>
