<h1>Course Categories</h1><br/>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
      <th scope="col">Courses in this Category</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= link_to category.category_name, category %></td>
        <td><%= category.courses.count %></td>
      </tr>
    <% end %>
  </tbody>
</table><br/>
