<div class="card text-center">
  <div class="card-body bg-primary-subtle">
    <h5 class="card-title">Thank U for visiting!</h5>
    <p class="card-text">Check our github repo below to see how we made this <em>Ruby on Rails</em>
      application from the ground up.</p>
    <a href="https://github.com/xammyboii/uLearn">uLearn repository</a>
  </div>
  <div class="card-footer text-body-secondary">
    &copy; <%= Time.current.year %> uLearn. All Rights Reserved.
  </div>
</div>
